<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.esasyassistivetouch.democontentprovider">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />


    <permission
        android:name="com.esasyassistivetouch.democontentprovider.StudentProvider.WRITE_DATABASE"
        android:label="Write Database"
        android:protectionLevel="normal" />
    <permission
        android:name="com.esasyassistivetouch.democontentprovider.StudentProvider.READ_DATABASE"
        android:label="Read Database"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <provider
            android:name=".StudentProvider"
            android:authorities="com.esasyassistivetouch.democontentprovider.StudentProvider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.esasyassistivetouch.democontentprovider.StudentProvider.READ_DATABASE"
            android:writePermission="com.esasyassistivetouch.democontentprovider.StudentProvider.WRITE_DATABASE" />

        <activity android:name=".ResultActivity" />
        <activity android:name=".CreateDBActivity" />

        <provider
            android:name=".CustomProvider"
            android:authorities="com.segu.demo.provider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.segu.demo.provider.READ_DATABASE"
            android:writePermission="com.segu.demo.provider.WRITE_DATABASE" />

        <activity android:name=".DetailActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>